:root {
    --vermelho:#E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
}

header .logo {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--vermelho);
    font-size: 40px;
    font-weight:600;
    margin: 15px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-left: 15px;
}

header nav a:hover{
    color: white;
}

/*Filme principal*/

.anime-principal {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%),url("../img/akame.jpg");
    background-size: cover;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.anime-principal .container .titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 12px;
    margin-left: 12px;
}

.anime-principal .container .quantidade-musica {
    margin: 6% 0 6% 27.5%;
    font-size: 15px;
}

.botoes .botao {
    background-color: rgba(0,0,0,.40);
    border: none;
    color: white;

    padding: 2.4% 5%;
    margin: 2.5% 0 0 9%;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}